body
{
    margin: 0;
    padding: 0;
}

.principal
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.menu
{
    width: 20%;
    height: 80vh;
    background-color: violet;
}

.contenedor
{
    width: 80%;
    height: 80vh;
    background-color: black;
}

.reproductor
{
    width: 100%;
    height: 20vh;
    background-color: orange;
}

.buscador
{
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.contenido
{
    width: 100%;
    height: 90%;
    display: flex;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    padding: 15px;
}

.card 
{
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.imgStyle
{
    width: 100px!important;
    height: 100%!important;
}

.cardStyle
{
    background-color: rgb(118, 88, 152);
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.songname
{
    font-family: 'Gajraj One', cursive;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(82, 208, 83);
}

.artistname
{
    font-family: 'Gajraj One', cursive;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: rgb(211, 41, 15);
}

.inputBuscador
{
    background: rgb(207, 129, 210);
    width: 70%;
    border-radius: 10px;
}

.iconoBuscar
{
    margin-left: 10px;
    color: white;
}